.inicio {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 
    linear-gradient(rgba(121, 140, 115, 0.4), rgba(214, 224, 211, 0.5)),
    url('/j-y-l/pergamino.avif'),
    linear-gradient(135deg, var(--jl-verde-claro), var(--jl-verde-oscuro));
  background-size: cover;
  background-position: center;
  color: var(--jl-blanco);
  text-align: center;
  
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--jl-blanco);
  }
  
  p {
    font-size: 1.5rem;
    color: var(--jl-blanco);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
}