<section id="inicio" class="inicio">
  <div class="hero-image">
    <p style="margin-bottom: 50px; font-size: 20px;">JUNTOS EN EL AMOR Y EN LA VIDA, CELEBRAMOS ESTE MOMENTO ESPECIAL CON QUIENES MÁS QUEREMOS.</p>

    <h1>Jorge & Lupita</h1>
    
    <!-- Nombre de los novios -->
    <div class="full-names">
      <div class="bride-name">MARÍA GUADALUPE OLIVA LEAL</div>
      <div class="groom-name">JORGE IRVING GÓMEZ BERÚMEN</div>
    </div>
    
    <!-- Nombre de los papás -->
    <div class="parents-names">
      <div class="parents-section">
        <div class="parent-group">
          <div class="parent-name">MARÍA ELENA LEAL DÍAZ</div>
          <div class="parent-name">RUBÉN OLIVA MARFILEÑO</div>
        </div>
        <div class="parent-group">
          <div class="parent-name">JORGE ALBERTO GÓMEZ MARMOLEJO</div>
          <div class="parent-name">VERÓNICA BERÚMEN CHÁVEZ</div>
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">SIGNIFICARÍA MUCHO PARA NOSOTROS PODER COMPARTIR ESTE ESPECIAL DÍA CONTIGO EN NUESTRA BODA</p>

    <!-- Fecha y hora -->
    <div class="date-section">
      <p class="date">6 de Junio, 2026</p>
      <p class="time">7:30 PM</p>
    </div>

    <!-- Lugar -->
    <div class="location-section">
      <div class="location-grid">
        <div class="location-item">
          <p class="location-name">PARROQUIA DE NTRA. SRA. DEL CARMEN (SAN MARCOS)</p>
          <button class="map-button" onclick="window.open('https://maps.app.goo.gl/cEMMKBxYqCthGEHH6', '_blank')">VER EN EL MAPA</button>
        </div>
        <div class="location-item">
          <p class="location-name">SALÓN LA PICA</p>
          <button class="map-button" onclick="window.open('https://maps.app.goo.gl/Ku4hmuPQyt36o8JAA', '_blank')">VER EN EL MAPA</button>
        </div>
      </div>
    </div>

    <hr style="margin: 2rem 0;">

    <!-- Horarios -->
    <div>
      <div class="venue-image">
        <img src="j-y-l/iglesia.png" alt="Iglesia" />
      </div>
      <h1 style="font-size: 45px; margin-bottom: 0;">Ceremonia</h1>
      <p style="margin-top: 0 !important; color: #000;">7:30 pm</p>

      <hr style="margin: 2rem 0;">
      <p style="margin-top: 0 !important; color: #000;">
        AL FINALIZAR LA CEREMONIA, TE INVITAMOS A CELEBRAR CON NOSOTROS.
      </p>
      <div class="venue-image">
        <img src="j-y-l/salon.png" alt="Salón" style="height: 50vh"/>
      </div>
      <h1 style="font-size: 45px; margin-bottom: 0;">Recepción</h1>
      <p style="margin-top: 0 !important; color: #000;">8:30 pm</p>
    </div>

    <hr style="margin: 2rem 0;">

    <!-- Código de vestimenta -->
    <div>
      <h1 style="font-size: 45px; margin-bottom: 0;">Código de vestimenta</h1>
      <p style="color: #000;">FORMAL</p>

      <div class="dress-code-section">
        <div class="dress-code-grid">
          <div class="dress-code-item">
            <p>Mujeres</p>
            <p class="dress-code-text">Vestido</p>
          </div>
          <div class="dress-code-item">
            <p>Hombres</p>
            <p class="dress-code-text">Traje</p>
          </div>
        </div>
        <div class="venue-image">
          <img src="j-y-l/pareja.png" alt="Pareja" style="height: 70vh"/>
        </div>
      </div>
    </div>

    <h1 style="font-size: 45px; margin-bottom: 0;">Regalos</h1>
    <p>Tu presencia en nuestra boda es nuestro más grande regalo.<br>
    Sin embargo, si te gustaría regalarnos algo, puedes hacerlo en efectivo.</p>

    <div class="venue-image" style="text-align: end;">
      <img src="j-y-l/regalos.png" alt="Regalos" style="height: 50vh"/>
    </div>
  </div>
</section>