<section id="itinerario" class="itinerario">
  <div class="decorative-elements">
    <img src="j-y-l/rama.svg" alt="" class="branch-top">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-left">
    <img src="j-y-l/flores-pequenas.svg" alt="" class="flowers-right">
    <img src="j-y-l/rama.svg" alt="" class="branch-bottom">
    <img src="j-y-l/eucalipto.png" alt="" class="eucalipto-left">
    <img src="j-y-l/helecho.png" alt="" class="helecho-right">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-top-right">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-bottom-left">
    <img src="j-y-l/hojas-round.png" alt="" class="leaves-center">
    <img src="j-y-l/flor.png" alt="" class="flower-scattered-1">
    <img src="j-y-l/flor-2.png" alt="" class="flower-scattered-2">
    <img src="j-y-l/eucalipto.png" alt="" class="eucalipto-right">
    <img src="j-y-l/helecho.png" alt="" class="helecho-left">
    <img src="j-y-l/rama.svg" alt="" class="branch-center">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-extra-1">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-extra-2">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-extra-3">
    <img src="j-y-l/flores-pequenas.svg" alt="" class="flowers-extra-1">
    <img src="j-y-l/flores-pequenas.svg" alt="" class="flowers-extra-2">
    <img src="j-y-l/hojas-round.png" alt="" class="leaves-extra-1">
    <img src="j-y-l/hojas-round.png" alt="" class="leaves-extra-2">
    <img src="j-y-l/flor.png" alt="" class="flower-extra-1">
    <img src="j-y-l/flor-2.png" alt="" class="flower-extra-2">
    <img src="j-y-l/flor.png" alt="" class="flower-extra-3">
    <img src="j-y-l/eucalipto.png" alt="" class="eucalipto-extra-1">
    <img src="j-y-l/eucalipto.png" alt="" class="eucalipto-extra-2">
    <img src="j-y-l/helecho.png" alt="" class="helecho-extra-1">
    <img src="j-y-l/helecho.png" alt="" class="helecho-extra-2">
    <img src="j-y-l/helecho.png" alt="" class="helecho-extra-3">
    <img src="j-y-l/rama.svg" alt="" class="branch-extra-1">
    <img src="j-y-l/rama.svg" alt="" class="branch-extra-2">
    <img src="j-y-l/rama.svg" alt="" class="branch-extra-3">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-micro-1">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-micro-2">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-micro-3">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-micro-4">
    <img src="j-y-l/hoja-simple.svg" alt="" class="leaf-micro-5">
    <img src="j-y-l/hojas-round.png" alt="" class="leaves-micro-1">
    <img src="j-y-l/hojas-round.png" alt="" class="leaves-micro-2">
    <img src="j-y-l/hojas-round.png" alt="" class="leaves-micro-3">
    <img src="j-y-l/flor-2.png" alt="" class="flower-micro-1">
    <img src="j-y-l/flor-2.png" alt="" class="flower-micro-2">
    <img src="j-y-l/flor.png" alt="" class="flower-micro-3">
    <img src="j-y-l/flor.png" alt="" class="flower-micro-4">
  </div>
  
  <div class="container">
    <div class="section-header">
      <h2>Itinerario</h2>
      <div class="ornament">❦</div>
    </div>
    
    <div class="timeline">
      <div class="timeline-item" data-time="7:30">
        <div class="timeline-marker"></div>
        <div class="timeline-card">
          <div class="card-icon">
            <span class="icon">🥂</span>
          </div>
          <div class="card-time">7:30 PM</div>
          <h3>Bienvenidos</h3>
          <p>Recepción de invitados y cóctel de bienvenida</p>
        </div>
      </div>
      
      <div class="timeline-item" data-time="8:00">
        <div class="timeline-marker"></div>
        <div class="timeline-card">
          <div class="card-icon">
            <span class="icon">💒</span>
          </div>
          <div class="card-time">8:00 PM</div>
          <h3>Ceremonia</h3>
          <p>El momento más especial de nuestras vidas</p>
        </div>
      </div>
      
      <div class="timeline-item" data-time="9:00">
        <div class="timeline-marker"></div>
        <div class="timeline-card">
          <div class="card-icon">
            <span class="icon">🍽️</span>
          </div>
          <div class="card-time">9:00 PM</div>
          <h3>Cena</h3>
          <p>Deliciosa cena para compartir en familia</p>
        </div>
      </div>
      
      <div class="timeline-item" data-time="10:00">
        <div class="timeline-marker"></div>
        <div class="timeline-card">
          <div class="card-icon">
            <span class="icon">🥂</span>
          </div>
          <div class="card-time">10:00 PM</div>
          <h3>Brindis</h3>
          <p>Celebremos juntos este nuevo comienzo</p>
        </div>
      </div>
      
      <div class="timeline-item" data-time="10:30">
        <div class="timeline-marker"></div>
        <div class="timeline-card">
          <div class="card-icon">
            <span class="icon">💃</span>
          </div>
          <div class="card-time">10:30 PM</div>
          <h3>Baile</h3>
          <p>¡Que comience la fiesta hasta el amanecer!</p>
        </div>
      </div>
    </div>
  </div>
</section>