<section id="galeria" class="galeria">
  <div class="container">
    <div class="parents-section">
      <div class="parents-info">
        <div class="groom-parents animate-element">
          <h3>Padres del Novio</h3>
          <img src="j-y-l/flor.png" alt="" class="flower-decoration">
          <div class="parent-name">
            <span class="name">Jorge Alberto</span>
            <span class="surname">Gómez Marmolejo</span>
          </div>
          <div class="separator">&</div>
          <div class="parent-name">
            <span class="name">Verónica</span>
            <span class="surname">Berumen Chavez</span>
          </div>
        </div>
        
        <div class="bride-parents animate-element">
          <h3>Padres de la Novia</h3>
          <img src="j-y-l/flor.png" alt="" class="flower-decoration">
          <div class="parent-name">
            <span class="name">María Elena</span>
            <span class="surname">Leal Díaz</span>
          </div>
          <div class="separator">&</div>
          <div class="parent-name">
            <span class="name">Rubén</span>
            <span class="surname">Oliva Marfileño</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>