<section id="ubicacion" class="ubicacion">
  <div class="container">
    <div class="section-header animate-element">
      <h2>Ubicación</h2>
      <div class="ornament">❦</div>
    </div>
    
    <div class="location-content">
      <div class="locations-grid">
        <div class="location-item animate-element">
          <div class="venue-info">
            <h3>Ceremonia Religiosa</h3>
            <h4>Parroquia de Ntra. Sra. del Carmen (San Marcos)</h4>
            <p>Donde uniremos nuestras vidas ante Dios</p>
          </div>
          
          <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.428203620711!2d-102.30580592520737!3d21.87958067999127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee865b2d73df%3A0x2276470d1ce6c4e2!2sParroquia%20de%20Ntra.%20Sra.%20del%20Carmen%20(San%20Marcos)!5e0!3m2!1ses!2smx!4v1762309131888!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        
        <div class="location-item animate-element">
          <div class="venue-info">
            <h3>Recepción</h3>
            <h4>Salon La Pica</h4>
            <p>Donde celebraremos juntos nuestro gran día</p>
          </div>
          
          <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.466048120606!2d-102.35006332520739!3d21.87812227999237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429e996fdb40e63%3A0x239e6c77b1a14514!2sSalon%20La%20Pica!5e0!3m2!1ses!2smx!4v1762310139918!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>