.contacto {
  padding: 80px 20px;
  text-align: center;
  background: 
    linear-gradient(rgba(121, 140, 115, 0.4), rgba(214, 224, 211, 0.5)),
    url('/j-y-l/pergamino.avif'),
    linear-gradient(135deg, var(--jl-verde-muy-claro), var(--jl-verde-claro));
  background-size: cover;
  background-position: center;
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--jl-verde-oscuro);
  }
  
  p {
    color: var(--jl-gris-oscuro);
  }
}