/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --color-silver: #E8E8E8;
  --color-navy: #0F2040;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #F8F8F8;
  
  --font-title: "Allura", cursive;
  --font-text: "Cormorant", serif;
  --font-text-jl: "Cormorant", serif;
  
  // Variables de colores para Jorge y Lupita
  --jl-verde-muy-claro: #d6e0d3;
  --jl-verde-claro: #798c73;
  --jl-verde-oscuro: #465741;
  --jl-blanco: #fff;
  --jl-negro: #000;
  --jl-gris-claro: #d8dbd7;
  --jl-gris-oscuro: #767875;
}

// Aplicar fuentes globalmente
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

body, p, span, div, button, a {
  font-family: var(--font-text);
}

// Fuente específica para Jorge y Lupita
.jorge-y-lupita {
  body, p, span, div, button, a, h4, h5, h6 {
    font-family: var(--font-text-jl) !important;
  }
}

section {
  scroll-margin-top: 100px;
}
// Clases específicas para las fuentes
.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}